<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <span class="navbar-brand">
          Registration
        </span>
        <div class="navbar-text navbar-right">
            <ol class="breadcrumb" style="padding: 0 15px 0 0">
            <li><a href="{{ path('sales_contact') }}" class="navbar-link">Contact</a></li>
            <li><a href="{{ path('sales_participants') }}" class="navbar-link">Participants</a></li>
            <li><a href="{{ path('sales_events') }}" class="navbar-link">Events</a></li>
            <li><a href="{{ path('sales_xtras') }}" class="navbar-link">Xtras</a></li>
            <li><a href="{{ path('sales_summary') }}" class="navbar-link">Summary</a></li>
            <li><a href="{{ path('sales_payment') }}" class="navbar-link">Payment</a></li>
            </ol>
        </div>
    </div>
</nav>
